html, body{
    border:  solid #000;
    margin:0 ;
    border-right: .15vw solid #000;
    -webkit-text-size-adjust: 100%;
}
.my-svg {
    width: 15vw;
    position: fixed;
    top: -1vh;
    left: 25vw;

  }



.cointainer{
    background-color: #000;
    
}


.content{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
/*This is the styles for about section*/

/*Styles for me section and scrollbar*/
#me{
    height: 100vh;
    overflow-y: scroll;
    position: relative;
    
}
.me::-webkit-scrollbar {
    width: 20px;
    background-color: #000000;

    margin-block: 10em;
    
}
.me::-webkit-scrollbar-track {
    background-color: white;
    width: 6px;
    border: 0.25em solid;
    
    
    

    

}
.me::-webkit-scrollbar-thumb {
    background-color: #000000;

}

.about-me{
    font-size: 1.8vw;
    line-height: 2.05vw;
    padding-left: 1vw;
    padding-right: 3vw
}
p{
    color: var(--black-2);
    font-family: Gt america, sans-serif;
    margin-top: 0;
    margin-bottom: 10px;
}
h3{
    
    color: #000;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 14%;
    font-family: Gt america, sans-serif;
    font-size: 1.3vw;
    font-weight: 700;
    line-height: 1.5vw;
    
}
/*This is the styles for project section*/

#project-section{
    height: 100vh;
    overflow-y: scroll;
    padding-left: 2vw;
}
.project-section::-webkit-scrollbar {
    width: 20px;
    background-color: #000000;

}
.project-section::-webkit-scrollbar-track {
    background-color: white;
    width: 6px;
    border: 0.25em solid;
   

    

}
.project-section::-webkit-scrollbar-thumb {
    background-color: #000000;

}
